body{
    font-family: 'Open sans', sans-serif;
    background-color: black;
}

.container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 400px;
    background-image: linear-gradient(rgba(240, 24, 236, 0.7), rgba(240, 236, 24, 0.7));
}

.calculator{
    width: 320px;
    height: 520px;
    background-color: #EAEDEF;
    margin: 0 auto;
    top: 120px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.result{
    height: 120px;
}

.keyboard{
    height: 400px;
}

.history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

.output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.empty{
    background-color: #EAEDEF;
}

.number, .operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 13px;
    font-weight: bold;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

.operator{
    background-color: grey;
}

/* USING NTH CHILD SELECTOR TO GET EVERY OPERATOR(4th of every row) AND STYLE IT */
button:nth-child(4){
    font-size: 20px;
    background-color: orange;
}

button:nth-child(8){
    font-size: 20px;
    background-color: orange;
}

button:nth-child(12){
    font-size: 20px;
    background-color: orange;
}

button:nth-child(16){
    font-size: 20px;
    background-color: orange;
}

button:nth-child(20){
    font-size: 20px;
    background-color: black;
    color: white;
}
